<div class="tile">
  <div class="tile__header">
    <div class="tile__top">
      <h3>Klimafreundliche Mobilität</h3>
      <div class="tile__options">
        <button class="share" onclick="share(7, {distance: document.getElementById('t7_distance').value});" tabindex="0"></button>
        <button class="info" tabindex="0"></button>
      </div>
    </div>
    <p>Eine kluge Verkehrswende ist auch Mobilitätswende: Auf die bewusste Auswahl klimafreundlicher Verkehrsmittel kommt es an.</p>
  </div>
  <div class="tile__slider">
    <input id="t7_distance" type="text" class="form-control" value=0>
  </div>
  <div class="tile__chart">
    <div id="t7"></div>
  </div>
</div>
