

<div class="modal fade" id="modalTile9" tabindex="-1" aria-labelledby="modalLabelTile9" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabelTile9">Zu viele fossile Heizungen</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Klimaschutz braucht saubere Wärme</h4>
        <p>Für die meisten von uns genügt der Blick in den Heizungskeller oder die Therme in der Wohnung, um zu realisieren, dass Öl und Gas nach wie vor unsere wichtigsten Wärmequellen sind. Etwa ein Dritter der CO2-Emissionen entstehen in Gebäuden. Und wir sind noch immer auf dem falschen Weg: Etwa 80 % der neu verbauten Heizungen setzen noch immer auf fossile Treibstoffe. Für das Klima sind das schlechte Nachrichten.</p>
        <h4>Auf zum Heizungstausch</h4>
        <p>Eine der wichtigsten Aufgaben für die kommenden Jahre wird es daher sein, dass wir diese Heizungsinfrastruktur auf Klimatechnologien umrüsten. 50 Prozent der Wärme soll bis 2030 klimaneutral erzeugt werden, fordert die Bundesregierung. Welche Optionen es gibt und was jede:r einzelne dafür tun kann, hat der WWF in einem Ratgeber zusammengetragen.</p>
        <ul class="modal__sources">
          <li>
            <span class="name">WWF-Ratgeber zum klimafreundlichen Heizungstausch</span>
            <span class="link">
              <a href="https://www.wwf.de/themen-projekte/klima-energie/heizungsratgeber" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Das Thermostat auf 1,5 Grad drehen
              </a>
            </span>
          </li>
          <li>
            <span class="name">DENA</span>
            <span class="link">
              <a href="https://www.dena.de/fileadmin/dena/Publikationen/PDFs/2021/dena-Gebaeudereport_2022.pdf" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                DENA - Gebäudereport 2022
              </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="tile">
  <div class="tile__header">
    <div class="tile__top">
      <h3>Zu viele fossile Heizungen</h3>
      <div class="tile__options">
        <button class="share" onclick="share(9, {technology: t9_technology});" tabindex="0"></button>
        <button class="info" tabindex="0" data-bs-toggle="modal" data-bs-target="#modalTile9"></button>
      </div>
    </div>
    <p>Die Wärmewende gilt als der “schlafender Riese“ für den Klimaschutz. Nicht immer werden viele fossil befeuerte Heizungen verbaut. Dabei gibt es längst klimafreundliche Alternativen zu Öl und Gas.</p>
  </div>
  <div class="tile__chart">
    <div id="t9"></div>
  </div>
</div>
