
<div class="modal fade" id="modalTile8" tabindex="-1" aria-labelledby="modalLabelTile8" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabelTile8">Elektrifizierung führt zu steigendem Strombedarf</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>

<div class="tile">
  <div class="tile__header">
    <div class="tile__top">
      <h3>Elektrifizierung führt zu steigendem Strombedarf</h3>
      <div class="tile__options">
        <button class="share" onclick="share(8, {year: document.getElementById('t8year').value});" tabindex="0"></button>
        <button class="info" tabindex="0" data-bs-toggle="modal" data-bs-target="#modalTile8"></button>
      </div>
    </div>
    <p>Für Elektroautos und strombasierte Heizungen brauchen wir immer mehr Strom. Dies schaffen wir durch den beschleunigten Ausbau von Wind- und Solarkraftwerken.</p>
  </div>
  <div class="tile__slider">
    <input type="text" class="js-range-slider" id="t8_year"/>
  </div>
  <div class="tile__chart">
    <div id="t8"></div>
  </div>
</div>
