<div class="tile__header">
  <h3>Immer mehr Erneuerbare Energien</h3>
  <p>Kohle, Gas, Öl und Atomenergie sind seit den 90er Jahren auf dem Rückzug. Wind- und Solarkraftwerke gewinnen hingegen bei der Stromerzeugung an Bedeutung.</p>
</div>
<div class="tile__slider">
  <input type="text" class="js-range-slider" id="t5_year"/>
</div>
<div class="tile__chart">
  <div id="t5"></div>
</div>
<button class="btn btn-primary" onclick="share(5, {year: document.getElementById('t5_year').value});">Share</button>