<div class="tile">
  <div class="tile__header">
    <div class="tile__top">
      <h3>Klimaschutz in allen Sektoren</h3>
      <div class="tile__options">
        <button class="share" onclick="share(3, {year: document.getElementById('t3_year').value});" tabindex="0"></button>
        <button class="info" tabindex="0"></button>
      </div>
    </div>
    <p>Bis 2045 soll Deutschland klimaneutral sein. Dafür muss der CO<sub>2</sub>-Ausstoß in allen Sektoren gesenkt werden.</p>
  </div>
  <div class="tile__slider">
    <input type="text" class="js-range-slider" id="t3_year"/>
  </div>
  <div class="tile__chart">
    <div id="t3"></div>
  </div>
</div>
