<div class="modal fade" id="modalTile11" tabindex="-1" aria-labelledby="modalLabelTile11" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabelTile11">Erneuerbare und Effizienz befreien uns von fossilen Abhängigkeiten</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Fossile Abhängigkeiten gefährden Klimaschutz und die Energiesicherheit</h4>
        <p>Bei fossilen und klimaschädlichen Rohstoffen wie Erdgas, Öl und Steinkohle deckt Deutschland seinen Bedarf fast gänzlich mit Importen aus dem Ausland. Dies gefährdet die Energiesicherheit. Diese Abhängigkeit führte uns 2022 in eine dramatische Energiekrise.</p>
        <h4>Energiesparen, Effizienz und Erneuerbare Energien</h4>
        <p>Energiesparen und Effizienz helfen, um die Abhängigkeiten zu reduzieren. Zudem sind Wind und Sonne Ressourcen, mit denen wir uns hierzulande mehr und mehr selbst versorgen können – und das ohne klimaschädliche Emissionen. Deutschland produziert inzwischen über 250 Terawattstunden erneuerbaren Strom. Das entspricht rund 50 % des Strom- sowie über 20 % des gesamten Energiebedarfs – Tendenz steigend. An immer mehr Tagen erreichen wir bereits Erneuerbaren-Werte im Strommix von weit über 70 %. Der europäische Markt für erneuerbaren Strom wächst ebenso. Auch Wärmepumpen und Elektroautos können so zunehmend aus Wind- und Solarkraftwerken versorgt werden. Dadurch brauchen wir weniger klimaschädliches  Erdgas, Öl und Steinkohle. Diesen Weg gilt es nun ambitioniert fortzuschreiben, damit heimische Energie fossile Abhängigkeiten ersetzen kann.</p>
        <h4>Weiterführende Informationen:</h4>
        <ul class="modal__sources">
          <li>
            <span class="name">Zum Ausbau der Erneuerbaren Energien siehe dazu auch die weiteren Kacheln im <a href="https://www.wwf.de/themen-projekte/klima-energie/wwf-energiewende-dashboard">WWF-Energiewende-Dashboard</a></span>
          </li>
          <li>
            <span class="name">WWF Deutschland</span>
            <span class="link">
              <a href="https://www.wwf.de/2022/maerz/wie-gelingt-die-zeitenwende-raus-aus-oel-und-gas" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Wie gelingt die Zeitenwende raus aus Öl und Gas
              </a>
            </span>
          </li>
        </ul>
        <h4>Quellen:</h4>
        <ul class="modal__sources">
          <li>
            <span class="name">Bundesamt für Wirtschaft und Ausfuhrkontrolle</span>
            <span class="link">
              <a href="https://www.bafa.de/DE/Energie/Rohstoffe/Erdgasstatistik/erdgas_node.html;jsessionid=244C9E804600BD27C7AA9272F005B2F3.intranet242" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Erdgasstatistik
              </a>
            </span>
          </li>
          <li>
            <span class="name">Bundesamt für Wirtschaft und Ausfuhrkontrolle</span>
            <span class="link">
              <a href="https://www.bafa.de/SharedDocs/Kurzmeldungen/DE/Energie/Rohoel/2022_12_rohloelinfo.html" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                RohölINFO Dezember 2022 (Rohölimporte)
              </a>
            </span>
          </li>
          <li>
            <span class="name">Verein der Kohleimporteure</span>
            <span class="link">
              <a href="https://www.kohlenimporteure.de/marktinformationen.html" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Marktinformationen
              </a>
            </span>
          </li>
          <li>
            <span class="name">Bundesverband Erdgas, Erdöl und Geothermie</span>
            <span class="link">
              <a href="https://jahresbericht.bveg.de/erdoelfoerderung/" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Jahresbericht Erdölförderung
              </a>
            </span>
          </li>
          <li>
            <span class="name">Bundesnetzagentur</span>
            <span class="link">
              <a href="https://www.bundesnetzagentur.de/SharedDocs/Pressemitteilungen/DE/2023/20230106_RueckblickGasversorgung.html" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Gasversorgung 2022
              </a>
            </span>
          </li>
        </ul>
        {% with title="Erneuerbare und Effizienz befreien uns von fossilen Abhängigkeiten" %}
          {% include "license.html" %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>

<div class="tile">
  <div class="tile__header">
    <div class="tile__info">
      <div class="tile__top">
        <h3>Erneuerbare und Effizienz befreien uns von fossilen Abhängigkeiten</h3>
        <div class="tile__options">
          <button class="share" title="Bild herunterladen" onclick="share(11, {year: document.getElementById('t11_year').value, import_type: t11_import_type});" tabindex="0"></button>
          <button class="info" title="Informationen" tabindex="0" data-bs-toggle="modal" data-bs-target="#modalTile11"></button>
        </div>
      </div>
      <p>Der Krieg in der Ukraine sowie die Energiekrise von 2022 haben gezeigt: Deutschlands Abhängigkeit von fossilen Importen ist eine Gefahr für unsere Gesellschaft. Indem wir Erneuerbare Energien ausbauen und Energie einsparen, erhöhen wir die Energiesicherheit.  </p>
    </div>
    <div class="tile__slider">
      <input type="text" class="js-range-slider" id="t11_year"/>
    </div>
  </div>
  <div class="tile__chart">
    <div id="t11"></div>
  </div>
</div>
