<div class="modal fade" id="modalTile10" tabindex="-1" aria-labelledby="modalLabelTile10" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabelTile10">Die Klimakrise ist längst spürbar</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Klimakrise ist längst Realität</h4>
        <p>Extremwetterereignisse in Deutschland, wie Starkregen und Überschwemmungen, lassen sich wissenschaftlich betrachtet in ihrer Häufigkeit und Intensität eindeutig auf die Klimakrise zurückführen. Aber die klimatischen Veränderungen sind auch für uns Menschen längst spürbar – nicht nur in weit entfernten Ländern, sondern auch hierzulande. So auch etwa extreme Trockenheit.</p>
        <h4>Dürren nehmen zu</h4>
        <p>Wissenschaftler:innen erfassen bundesweit die Feuchtigkeit im Boden. Von einer „Dürre“ spricht man, wenn im Vergleich zum erwartbaren, langjährigen Normalzustand eine zu hohe Trockenheit herrscht. Diese kann sich ergeben, wenn zu wenig Regen fällt oder viel Wasser verdunstet. Seit 2014 kann man den regionalen Verlauf und die Zunahme und Schwere der Dürren eindeutig nachvollziehen. Dies wirkt sich wiederum negativ auf den Waldbestand oder die landwirtschaftlichen Erträge aus.</p>
        <h4>Quellen und weiterführende Informationen</h4>
        <ul class="modal__sources">
          <li>
            <span class="name">Helmholtz-Zentrum für Umweltforschung (UFZ)</span>
            <span class="link">
              <a href="https://www.ufz.de/index.php?de=40990" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Dürren seit 2014 (monatlich)
              </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="tile">
  <div class="tile__header">
    <div class="tile__top">
      <h3>Die Klimakrise ist längst sichtbar</h3>
      <div class="tile__options">
        <button class="share" title="Bild herunterladen" onclick="share(10, {year: document.getElementById('t10_year').value});" tabindex="0"></button>
        <button class="info" title="Informationen" tabindex="0" data-bs-toggle="modal" data-bs-target="#modalTile10"></button>
      </div>
    </div>
    <p>Der Klimawandel ist auch in Deutschland längst spürbar. Wetterextreme verändern unsere Lebensbedingungen. Beispielsweise haben Dürren in den letzten Jahren stark zugenommen.</p>
  </div>
  <div class="tile__slider">
    <input type="text" class="js-range-slider" id="t10_year"/>
  </div>
  <div class="tile__chart">
    <div id="t10">
      <img id="drought">
    </div>
  </div>
</div>
