<div class="modal fade" id="modalTile8" tabindex="-1" aria-labelledby="modalLabelTile8" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabelTile8">Elektrifizierung führt zu steigendem Strombedarf</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Wir verbrauchen immer mehr Strom </h4>
        <p>Wir werden deutschlandweit in naher Zukunft wesentlich mehr Strom benötigen als heute. Zwar wird der Primärenergieverbrauch in unserem Land insgesamt sinken, weil wir sparsamer und die Anwendungen effizienter werden. Aber gleichzeitig laufen immer mehr Technologien, etwa Elektroautos, mit Strom. Die Bundesregierung schätzt, dass die Stromnachfrage von aktuell rund 530 Terawattstunden (TWh) bis 2030 auf bis zu 750 TWh steigt.</p>
        <h4>Zubau an Wind- und Solarkraftwerken</h4>
        <p>Die Stromnachfrage steigt also. Parallel steigen wir aus der Kohleverstromung aus. Deshalb müssen in Deutschland jedes Jahr viele neue Windräder und Solaranlagen errichtet werden. Die Bundesregierung plant, dass der Ausbau von Windkraftwerken bis zum Ende des Jahrzehnts auf über 15 Gigawatt und bei Solarkraftwerken auf 20 Gigawatt ansteigen muss, um die Ziele zu erreichen.</p>
        <h4>Quellen und weiterführende Informationen</h4>
        <ul class="modal__sources">
          <li>
            <span class="name">Bundesministerium für Wirtschaft und Klimaschutz</span>
            <span class="link">
              <a href="https://www.bmwi.de/Redaktion/DE/Downloads/Energie/220111_eroeffnungsbilanz_klimaschutz.pdf?__blob=publicationFile&v=8" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Eröffnungsbilanz Klimaschutz
              </a>
            </span>
          </li>
          <li>
            <span class="name">Koalitionsvertrag der Bundesregierung</span>
            <span class="link">
              <a href="https://www.bundesregierung.de/resource/blob/974430/1990812/04221173eef9a6720059cc353d759a2b/2021-12-10-koav2021-data.pdf?download=1" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Mehr Fortschritt wagen
              </a>
            </span>
          </li>
          <li>
            <span class="name">Umweltbundesamt (UBA)</span>
            <span class="link">
              <a href="https://www.umweltbundesamt.de/daten/energie/primaerenergieverbrauch#definition-und-einflussfaktoren" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Primärenergieverbrauch
              </a>
            </span>
          </li>
          <li>
            <span class="name">Umweltbundesamt (UBA)</span>
            <span class="link">
              <a href="https://www.umweltbundesamt.de/daten/energie/stromverbrauch" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Stromverbrauch
              </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="tile">
  <div class="tile__header">
    <div class="tile__top">
      <h3>Elektrifizierung führt zu steigendem Strombedarf</h3>
      <div class="tile__options">
        <button class="share" onclick="share(8, {year: document.getElementById('t8year').value});" tabindex="0"></button>
        <button class="info" tabindex="0" data-bs-toggle="modal" data-bs-target="#modalTile8"></button>
      </div>
    </div>
    <p>Für Elektroautos und strombasierte Heizungen brauchen wir immer mehr Strom. Dies schaffen wir durch den beschleunigten Ausbau von Wind- und Solarkraftwerken.</p>
  </div>
  <div class="tile__slider">
    <input type="text" class="js-range-slider" id="t8_year"/>
  </div>
  <div class="tile__chart">
    <div id="t8"></div>
  </div>
</div>
