

<div class="modal fade" id="modalTile9" tabindex="-1" aria-labelledby="modalLabelTile9" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabelTile9">Modern Heizen für Klima</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>

<div class="tile">
  <div class="tile__header">
    <div class="tile__top">
      <h3>Modern Heizen für Klima</h3>
      <div class="tile__options">
        <button class="share" onclick="share(9, {year: document.getElementById('t9year').value});" tabindex="0"></button>
        <button class="info" tabindex="0" data-bs-toggle="modal" data-bs-target="#modalTile8"></button>
      </div>
    </div>
    <p>Die Wärmewende gilt als der “schlafender Riese“ für den Klimaschutz. Nicht immer werden viele fossil befeuerte Heizungen verbaut. Dabei gibt es längst klimafreundliche Alternativen zu Öl und Gas.</p>
  </div>
  <div class="tile__chart">
    <div id="t9"></div>
  </div>
</div>
