<div class="modal fade modal--share" id="modalShareTile1" tabindex="-1" aria-labelledby="modalShareLabelTile1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalShareLabelTile1">Diagramm teilen</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="logos">
          <div class="logo logo--tw">
            <a href="" >
              <img src="../../static/logos/twitter_logo.svg" alt="Twitter Logo" aria-describedby="share-tw">
              <span id="share-tw">Twitter</span>
            </a>
          </div>
          <div class="logo logo--ig">
            <a href="">
              <img src="../../static/logos/Instagram_Glyph_Gradient_RGB.png" alt="Instagram Logo" aria-describedby="share-ig">
              <span id="share-ig">Instagram</span>
            </a>
          </div>
          <div class="logo logo--li">
            <a href="">
              <img src="../../static/logos/LI-In-Bug.png" alt="LinkedIn Logo" aria-describedby="share-li">
              <span id="share-li">LinkedIn</span>
            </a>
          </div>
        </div>
        <div class="logos">
          <div class="logo logo--fb">
            <a href="">
              <img src="../../static/logos/f_logo_RGB-Blue_1024.svg" alt="Facebook Logo" aria-describedby="share-fb">
              <span id="share-fb">Facebook</span>
            </a>
          </div>
          <div class="logo logo--wa">
            <a href="">
              <img src="../../static/logos/WhatsApp_Logo.svg" alt="WhatsApp Logo" aria-describedby="share-wa">
              <span id="share-wa">WhatsApp</span>
            </a>
          </div>
          <div class="logo logo--tg">
            <a href="">
              <img src="../../static/logos/Logo.svg" alt="Telegram Logo" aria-describedby="share-tg">
              <span id="share-tg">Telegram</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalTile1" tabindex="-1" aria-labelledby="modalLabelTile1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabelTile1">CO<sub>2</sub>-Ausstoß verschärft Klimakrise</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Weltweite Emissionen erwärmen die Erde</h4>
        <p>Seit dem Beginn der industriellen Revolution verfeuern wir Menschen immer mehr Öl, Kohle und Gas. Um 1900 führte das noch zu knapp 2.000 Millionen Tonnen an energiebedingten CO<sub>2</sub>-Emissionen pro Jahr. Heute sind es 15-mal so viel. Das Problem: CO<sub>2</sub> reichert sich in der Atmosphäre an. In den 1960er Jahren wurden noch 320 parts per million (ppm) gemessen. 2020 lag der Wert schon bei 413 ppm.</p>
        <p>Das klingt wenig. Es hat aber dramatische, physikalische Konsequenzen. So wird es auf der Erde immer wärmer. Das kann man anschaulich anhand der sogenannten „Warming Stripes“ (oder auch: Klimastreifen) darstellen. Je röter die Klimastreifen sind, desto wärmer war es im entsprechenden Jahr.</p>
        <h4>Klimagasemissionen in Deutschland</h4>
        <p>Zwar ist es hierzulande seit 1990 gelungen, den CO<sub>2</sub>-Ausstoß um gut ein Drittel zu senken. Aber Deutschland trägt eine besondere Verantwortung. Weltweit haben nur fünf Länder historisch betrachtet noch mehr emittiert als wir. Außerdem sind die Absenkungen zu langsam. Denn statt der heute ca. 600 Millionen Tonnen CO<sub>2</sub> pro Jahr sollen es bis 2045 gar keine mehr sein. Das Ziel lautet dann „Klimaneutralität“.</p>
        <h4>Quellen und weiterführende Informationen</h4>
        <ul class="modal__sources">
          <li>
            <span class="name">Umweltbundesamt (UBA)</span>
            <span class="link">
              <a href="https://www.umweltbundesamt.de/daten/klima/trends-der-lufttemperatur#2020-bisher-zweitwarmstes-jahr-in-deutschland" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Trends der Lufttemperatur
              </a>
            </span>
          </li>
          <li>
            <span class="name">Klimastreifen von Ed Hawkins</span>
            <span class="link">
              <a href="https://showyourstripes.info/s/globe" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                #ShowYourStripes
              </a>
            </span>
          </li>
          <li>
            <span class="name">Prof. Volker Quaschning, HTW Berlin</span>
            <span class="link">
              <a href="https://www.volker-quaschning.de/datserv/CO2/index.php" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Klimakiller Kohlendioxid
              </a>
            </span>
          </li>
          <li>
            <span class="name">Met Office / Britischer Wetterdienst</span>
            <span class="link">
              <a href="https://www.metoffice.gov.uk/hadobs/hadcrut4/data/current/download.html" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Met Office Hadley Centre observations datasets
              </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="tile">
  <div class="tile__header">
    <div class="tile__top">
      <h3>CO<sub>2</sub>-Ausstoß verschärft Klimakrise</h3>
      <div class="tile__options">
        <button class="share" onclick="share(1, {year: document.getElementById('t1_year').value, mode: t1_mode});" tabindex="0" data-bs-toggle="modal" data-bs-target="#modalShareTile1"></button>
        <button class="info" tabindex="0" data-bs-toggle="modal" data-bs-target="#modalTile1"></button>
      </div>
    </div>
    <p>Mit den weltweit steigenden Emissionen steigen Jahr für Jahr auch die CO<sub>2</sub>-Konzentration in der Atmosphäre und die Temperatur auf der Erde.</p>
  </div>
  <div class="tile__slider">
    <input type="text" class="js-range-slider" id="t1_year" />
  </div>
  <div class="tile__tabs">
    <div class="tile1-tabs">
      <div id="t1_global" class="tile1-tabs__left active" onclick="t1_change_mode('global');">
        Global
      </div>
      <div id="t1_brd" class="tile1-tabs__right" onclick="t1_change_mode('brd');">
        Deutschland
      </div>
    </div>
  </div>
  <div class="tile__chart">
    <div id="t1"></div>
  </div>
</section>
