<div class="tile__header">
  <h3>Der Strommix verändert sich von Tag zu Tag</h3>
  <p>Die Stromerzeugung schwankt je nach Wind, Sonnenschein und Stromverbrauch. Immer zur Mittagszeit gibt es am meisten PV. An Wochenenden brauchen wir weniger Strom.</p>
</div>
<div class="tile__slider">
  <input id="t6_date" type="text" class="form-control">
</div>
<div class="tile__chart">
  <div id="t6"></div>
</div>
<button class="btn btn-primary" onclick="share(6, {date: document.getElementById('t6_date').value});">Share</button>