<div class="modal fade" id="modalTile3" tabindex="-1" aria-labelledby="modalLabelTile3" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabelTile3">Klimaschutz muss es in allen Sektoren geben</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Klimaneutral bis 2045</h4>
        <p>Deutschland hat sich 2021 mit dem Klimaschutzgesetz verpflichtet, bis zum Jahr 2045 klimaneutral zu sein. Unterm Strich sollen dann nicht mehr Treibhausgase ausgestoßen werden, als an anderer Stelle eingespeichert werden können. Seit 1990 sind die Emissionen auch schon um etwa ein Drittel gesunken. Dieser Trend muss nun in den kommenden zwei Jahrzehnten drastisch beschleunigt werden, weil in der Vergangenheit viel zu wenig passiert ist.</p>
        <h4>Alle Sektoren tragen dazu bei</h4>
        <p>Alle Sektoren müssen einen Beitrag zur Erreichung der Klimaziele leisten. Aus diesem Grund wurde gesetzlich definiert, welche Etappenziele bis zum Ende des Jahrzehnts in den Bereichen Energiewirtschaft, Verkehr, Gebäude, Industrie und in der Landwirtschaft zu erreichen sind. Wir denken: Auch in Zukunft sollten alle Sektoren verbindliche Reduktionsziele haben und Fehlentwicklungen umgehend korrigiert werden. Strukturelle Veränderungen gibt es bisher nur im Energiesektor. Gerade der Verkehrs-, Gebäude- und Industriesektor müssen umgehend aufholen. Sonst drohen die Klimaziele dauerhaft gerissen zu werden.</p>
        <h4>Weiterführende Informationen:</h4>
        <ul class="modal__sources">
          <li>
            <span class="name">WWF Deutschland</span>
            <span class="link">
              <a href="https://www.wwf.de/themen-projekte/klima-energie/klimaschutz-und-energiewende-in-europa/zweites-europaeisches-emissionshandelssystem" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Zweites Europäisches Emissionshandelssystem - Ökologische und soziale Kriterien berücksichtigen
              </a>
            </span>
          </li>
          <li>
            <span class="name">WWF Deutschland</span>
            <span class="link">
              <a href="https://www.wwf.de/themen-projekte/klima-energie/klimaschutz-und-energiewende-in-europa/wwf-studie-zum-eu-emissionshandel" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                WWF-Studie: Verwendung der Einnahmen aus dem EU-Emissionshandel seit 2013
              </a>
            </span>
          </li>
          <li>
            <span class="name">WWF Deutschland</span>
            <span class="link">
              <a href="https://www.wwf.de/themen-projekte/klima-energie/klimaschutz-und-energiewende-in-deutschland/stellungnahme-aufbruch-klimaneutralitaet" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Gemeinsame Stellungnahme - von WWF, FÖS, DNR und Germanwatch zum Ergebnisbericht der „dena-Leitstudie Aufbruch Klimaneutralität“
              </a>
            </span>
          </li>
        </ul>
        <h4>Quellen:</h4>
        <ul class="modal__sources">
          <li>
            <span class="name">Bundesamt für Justiz </span>
            <span class="link">
              <a href="https://www.gesetze-im-internet.de/ksg/" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Bundes-Klimaschutzgesetz
              </a>
            </span>
          </li>
          <li>
            <span class="name">Umweltbundesamt (UBA)</span>
            <span class="link">
              <a href="https://www.umweltbundesamt.de/daten/klima/treibhausgas-emissionen-in-deutschland#emissionsentwicklung" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Treibhausgas-Emissionen in Deutschland
              </a>
            </span>
          </li>
          <li>
            <span class="name">Agora Energiewende: Klimaneutrales Deutschland 2045</span>
            <span class="link">
              <a href="https://www.agora-energiewende.de/veroeffentlichungen/klimaneutrales-deutschland-2045-vollversion/" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Klimaneutrales Deutschland 2045
              </a>
            </span>
          </li>
          <li>
            <span class="name">Klimaallianz</span>
            <span class="link">
              <a href="https://www.klima-allianz.de/fileadmin/user_upload/Dateien/Daten/Publikationen/Koop._Positionen/Verbaendepapier_Abschwaechung_des_KSG_verhindern.pdf" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Abschwächung des KSG verhindern
              </a>
            </span>
          </li>
        </ul>
        {% with title="Klimaschutz muss es in allen Sektoren geben" %}
          {% include "license.html" %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>

<div class="tile">
  <div class="tile__header">
    <div class="tile__info">
      <div class="tile__top">
        <h3>Klimaschutz muss es in allen Sektoren geben</h3>
        <div class="tile__options">
          <button class="share" title="Bild herunterladen" onclick="share(3, {year: document.getElementById('t3_year').value, sector: t3_sector});" tabindex="0"></button>
          <button class="info" title="Informationen" tabindex="0" data-bs-toggle="modal" data-bs-target="#modalTile3"></button>
        </div>
      </div>
      <p>Bis 2045 soll Deutschland klimaneutral sein. Dafür muss der CO<sub>2</sub>-Ausstoß in allen Sektoren gesenkt werden. Das muss auch in Zukunft das Ziel sein und verbindlich erreicht werden.</p>
    </div>

    <div class="tile__slider">
      <input type="text" class="js-range-slider" id="t3_year"/>
    </div>
  </div>
  <div class="tile__chart">
    <div id="t3"></div>
  </div>
</div>
