<div class="tile">
  <div class="tile__header">
    <div class="tile__top">
      <h3>Die Klimakrise ist längst sichtbar</h3>
      <div class="tile__options">
        <button class="share" tabindex="0"></button>
        <button class="info" tabindex="0"></button>
      </div>
    </div>
    <p>Der Klimawandel ist auch in Deutschland längst spürbar. Wetterextreme verändern unsere Lebensbedingungen. Beispielsweise haben Dürren in den letzten Jahren stark zugenommen.</p>
  </div>
  <div class="tile__slider">
    <input type="text" class="js-range-slider" id="t10_year"/>
  </div>
  <div class="tile__chart">
    <div id="t10">
      <img id="drought">
    </div>
  </div>
</div>
