

<div class="modal fade" id="modalTile9" tabindex="-1" aria-labelledby="modalLabelTile9" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabelTile9">Zu viele fossile Heizungen</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Klimaschutz braucht saubere Wärme</h4>
        <p>Für die meisten von uns genügt der Blick in den Heizungskeller oder auf die Therme in der Wohnung, um zu realisieren, dass Öl und Gas nach wie vor unsere wichtigsten Wärmequellen sind. Etwa ein Drittel der CO<sub>2</sub>-Emissionen entstehen in Gebäuden. Und wir sind noch immer auf dem falschen Weg: Etwa zwei Drittel der neu verbauten Heizungen setzen noch immer auf fossile Treibstoffe. </p>
        <h4>Auf zum Heizungstausch</h4>
        <p>Eine der wichtigsten Aufgaben für die kommenden Jahre wird es daher sein, dass wir diese Heizungsinfrastruktur auf Klimatechnologien umrüsten. 50 Prozent der Wärme soll laut Bundesregierung bis 2030 klimaneutral erzeugt werden. Mittels kommunaler Wärmeplanung und verschärften Emissionsregeln im Gebäudebereich soll der Umbau gelingen.</p>
        <h4>Weiterführende Informationen:</h4>
        <ul class="modal__sources">
          <li>
            <span class="name">WWF-Ratgeber zum klimafreundlichen Heizungstausch</span>
            <span class="link">
              <a href="https://www.wwf.de/themen-projekte/klima-energie/heizungsratgeber" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Das Thermostat auf 1,5 Grad drehen
              </a>
            </span>
          </li>
        </ul>
        <h4>Quellen:</h4>
        <ul class="modal__sources">
          <li>
            <span class="name">DENA</span>
            <span class="link">
              <a href="https://www.dena.de/fileadmin/dena/Publikationen/PDFs/2022/dena_Gebaeudereport_2023.pdf" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                DENA - Gebäudereport 2023
              </a>
            </span>
          </li>
          <li>Bundesverband der Deutschen Heizungsindustrie</span>
            <span class="link">
              <a href="https://www.bdh-industrie.de/fileadmin/user_upload/Pressegrafiken/Marktstruktur_zehn_Jahre_2022_DE_022023.jpg" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Marktentwicklung Wärmeerzeuger
              </a>
            </span>
          </li>
          <li>
            <span class="name">Bundesverband Solarwirtschaft</span>
            <span class="link">
              <a href="https://www.solarwirtschaft.de/datawall/uploads/2022/02/bsw_faktenblatt_solarthermie.pdf" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Fakten zur Solarthermie
              </a>
            </span>
          </li>
        </ul>
        {% with title="Zu viele fossile Heizungen" %}
          {% include "license.html" %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>

<div class="tile">
  <div class="tile__header">
    <div class="tile__info">
      <div class="tile__top">
        <h3>Zu viele fossile Heizungen</h3>
        <div class="tile__options">
          <button class="share" title="Bild herunterladen" onclick="share(9, {technology: t9_technology});" tabindex="0"></button>
          <button class="info" title="Informationen" tabindex="0" data-bs-toggle="modal" data-bs-target="#modalTile9"></button>
        </div>
      </div>
      <p>Die Wärmewende ist notwendig. Das zeigt ein Blick auf die Fakten. Immer noch boomen fossil befeuerte Heizungen, obwohl es längst tatsächlich klimafreundliche Alternativen gibt.</p>
    </div>
  </div>
  <div class="tile__chart">
    <div id="t9"></div>
  </div>
</div>
