<div class="modal fade" id="modalTile6" tabindex="-1" aria-labelledby="modalLabelTile6" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabelTile6">Der Strommix verändert sich von Tag zu Tag</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Stromschwankungen werden sichtbar</h4>
        <p>Die Grafik zeigt die realen Schwankungen der Stromerzeugung in Deutschland. Dargestellt wird der Zeitverlauf von 0 bis 24 Uhr zu einem beliebigen Datum ab 2012 bis heute. Unterschieden wird nach der konventionellen fossilen und nuklearen Stromerzeugung, etwa aus der Kohle, sowie jener aus unterschiedlichen erneuerbaren Energiequellen.</p>
        <h4>Die Stromerzeugung schwankt je nach Uhrzeit</h4>
        <p>Je nach Jahreszeit, Tag und Uhrzeit variieren die produzierten Strommengen aus den jeweiligen Kraftwerken. Und über einen ganzen Tag betrachtet, verbrauchen wir in Deutschland immer unterschiedlich viel Strom. Wenn tagsüber die Sonne scheint und wenn der Wind besonders stark weht, gibt es mehr Erneuerbaren Strom. Da tagsüber mehr Strom verbraucht wird (etwa im Büro oder in den Fabriken) als nachts, muss dann auch mehr produziert werden. Die hier dargestellte Stromerzeugung folgt in etwa dieser schwankenden Nachfrage.</p>
        <h4>Wichtige Erkenntnisse</h4>
        <p>Vergleicht man Kurven an den jeweiligen Tagen, dann fällt Vieles auf:</p>
        <ul>
          <li>So ist z.B. mittags der Anteil des Solarstroms immer am höchsten, vor allem im Sommer.</li>
          <li>Je nach Wetterlage schwankt der Beitrag des Windstroms – vor allem zu Sturmzeiten im Winter.</li>
          <li>An Wochenenden brauchen wir weniger Strom.</li>
          <li>Wenn viel Wind weht und viel Sonne scheint, wird weniger Strom aus fossilen und atomaren Kraftwerken benötigt.</li>
          <li>In den letzten Jahren wurden die Beiträge des Solar- und Windstroms immer bedeutender.</li>
          <li>U.v.m.</li>
        </ul>
        <div>
          <img class="logo logo--agora" src="../../static/images/agora_logo.svg" alt="Agora Energiewende Logo">
        </div>
        <h4>Weiterführende Informationen:</h4>
        <ul class="modal__sources">
          <li>
            <span class="name">WWF Deutschland</span>
            <span class="link">
              <a href="https://www.wwf.de/themen-projekte/klima-energie/klimaschutz-und-energiewende-in-deutschland/zukunft-stromsystem-2" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Zukunft Stromsystem II – Regionalisierung der erneuerbaren Stromerzeugung
              </a>
            </span>
          </li>
          <li>
            <span class="name">WWF Deutschland</span>
            <span class="link">
              <a href="https://www.wwf.de/themen-projekte/klima-energie/oekostrom-next-generation" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Was ist Ökostrom next generation?
              </a>
            </span>
          </li>
          <li>
            <span class="name">WWF Deutschland</span>
            <span class="link">
              <a href="https://www.wwf.de/themen-projekte/klima-energie/klimaschutz-und-energiewende-in-deutschland/stromnetzinfrastruktur-fuer-die-energiewende" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Stromnetzinfrastruktur für die Energiewende
              </a>
            </span>
          </li>
        </ul>
        <h4>Quellen:</h4>
        <ul class="modal__sources">
          <li>
            <span class="text">Die hier dargestellten Daten basieren auf den aktuellen und historischen Erhebungen der Informationsplattform der Bundesnetzagentur über den deutschen Strommarkt alias „SMARD - Strommarktdaten für Deutschland“</span>
            <span class="name">Bundesnetzagentur</span>
            <span class="link">
              <a href="https://www.smard.de/home/marktdaten?marketDataAttributes=%7B%22resolution%22:%22hour%22,%22from%22:1693087200000,%22to%22:1694037599999,%22moduleIds%22:%5B%5D,%22selectedCategory%22:null,%22activeChart%22:true,%22style%22:%22color%22,%22categoriesModuleOrder%22:%7B%7D,%22region%22:%22DE%22%7D" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                SMARD - Strommarktdaten für Deutschland
              </a>
            </span>
          </li>
        </ul>
        {% with title="Der Strommix verändert sich von Tag zu Tag" %}
          {% include "license.html" %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>

<div class="tile">
  <div class="tile__header">
    <div class="tile__info">
      <div class="tile__top">
        <h3>Der Strommix verändert sich von Tag zu Tag</h3>
        <div class="tile__options">
          <button class="share" title="Bild herunterladen" onclick="share(6, {date: $('#t6_date').val()});" tabindex="0"></button>
          <button class="info" title="Informationen" tabindex="0" data-bs-toggle="modal" data-bs-target="#modalTile6"></button>
        </div>
      </div>
      <p>Die Stromerzeugung schwankt je nach Wind, Sonnenschein und Stromverbrauch. Immer zur Mittagszeit gibt es am meisten PV. An Wochenenden brauchen wir weniger Strom.</p>
    </div>
    <div class="tile__slider tile__slider--date-picker">
      <img id="t6_arrow_left" src="static/icons/i_pfeil_links.svg" style="width: 20px; height: 20px; margin-right: 0.5rem; margin-top: 0.5rem;"><input id="t6_date" type="text" class="form-control"><img id="t6_arrow_right" src="static/icons/i_pfeil_rechts.svg" style="width: 20px; height: 20px; margin-left: 0.5rem; margin-top: 0.5rem;"><small>Historische Daten ab 2015</small>
    </div>
  </div>
  <div class="tile__chart">
    <div id="t6"></div>
  </div>
</div>