
<div class="modal fade" id="modalTile1" tabindex="-1" aria-labelledby="modalLabelTile1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabelTile1">CO<sub>2</sub>-Ausstoß verschärft Klimakrise</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Weltweite Emissionen erwärmen die Erde</h4>
        <p>Seit dem Beginn der industriellen Revolution verfeuern wir Menschen immer mehr Öl, Kohle und Gas. Um das Jahr 1900 wurden so etwa 2 Milliarden Tonnen energiebedingte CO<sub>2</sub>-Emissionen pro Jahr freigesetzt. Heute sind es 15-mal so viel. Das Problem: CO<sub>2</sub> reichert sich in der Atmosphäre an. In den 1960er Jahren wurden noch 320 parts per million (ppm) in der Atmosphäre gemessen. 2020 lag der Wert schon bei 413 ppm. Seit der Industrialisierung ist die CO<sub>2</sub>-Kozentration in der Luft um 44% gestiegen.</p>
        <p>Das klingt wenig. Es hat aber dramatische, physikalische Konsequenzen. So wird es auf der Erde immer wärmer. Das kann man anschaulich anhand der sogenannten „Warming Stripes“ (oder auch: Klimastreifen) darstellen. Je röter die Klimastreifen sind, desto wärmer war es im entsprechenden Jahr.</p>
        <h4>Klimagasemissionen in Deutschland</h4>
        <p>Zwar ist es hierzulande gelungen, den CO<sub>2</sub>-Ausstoß seit 1990 um gut ein Drittel zu senken. Aber Deutschland trägt eine besondere Verantwortung. Weltweit haben nur fünf Länder historisch betrachtet noch mehr emittiert als wir. Außerdem sind die Absenkungen zu langsam.. Das erklärte Ziel lautet: „”Netto-null“ bis 2045.</p>
        <h4>Quellen und weiterführende Informationen</h4>
        <ul class="modal__sources">
          <li>
            <span class="name">Umweltbundesamt (UBA)</span>
            <span class="link">
              <a href="https://www.umweltbundesamt.de/daten/klima/trends-der-lufttemperatur#2020-bisher-zweitwarmstes-jahr-in-deutschland" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Trends der Lufttemperatur
              </a>
            </span>
          </li>
          <li>
            <span class="name">Klimastreifen von Ed Hawkins</span>
            <span class="link">
              <a href="https://showyourstripes.info/s/globe" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                #ShowYourStripes
              </a>
            </span>
          </li>
          <li>
            <span class="name">Umweltbundesamt (UBA)</span>
            <span class="link">
              <a href="https://www.umweltbundesamt.de/daten/klima/atmosphaerische-treibhausgas-konzentrationen#kohlendioxid" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Atmosphärische Treibhausgas-Konzentrationen
              </a>
            </span>
          </li>
          <li>
            <span class="name">Met Office / Britischer Wetterdienst</span>
            <span class="link">
              <a href="https://www.metoffice.gov.uk/hadobs/hadcrut4/data/current/download.html" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Met Office Hadley Centre observations datasets
              </a>
            </span>
          </li>
          <li>
            <span class="name">WWF Deutschland</span>
            <span class="link">
              <a href="https://www.wwf.de/themen-projekte/klima-energie/klimaschutz-und-energiewende-in-deutschland/wie-klimaneutral-ist-co2-als-rohstoff" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Wie klimaneutral ist CO2 als Rohstoff wirklich: Carbon Capture and Utilization
              </a>
            </span>
          </li>
          <li>
            <span class="name">WWF Deutschland</span>
            <span class="link">
              <a href="https://www.wwf.de/themen-projekte/klima-energie/klimawandel" target="_blank" rel="noopener noreferrer">
                <img src="../../static/icons/i_open.svg" alt="" aria-hidden="true">
                Klimawandel - Die größte Bedrohung für unseren Planeten
              </a>
            </span>
          </li>
        </ul>
        {% with title="CO2-Ausstoß verschärft Klimakrise" %}
          {% include "license.html" %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>

<section class="tile">
  <div class="tile__header">
    <div class="tile__top">
      <h3>CO<sub>2</sub>-Ausstoß verschärft Klimakrise</h3>
      <div class="tile__options">
        <button class="share" title="Bild herunterladen" onclick="share(1, {year: document.getElementById('t1_year').value, mode: t1_mode});"></button>
        <button class="info" title="Informationen" tabindex="0" data-bs-toggle="modal" data-bs-target="#modalTile1"></button>
      </div>
    </div>
    <p>Mit den weltweit steigenden Emissionen steigt Jahr für Jahr auch die CO<sub>2</sub>-Konzentration in der Atmosphäre und die Temperatur auf der Erde.</p>
  </div>
  <div class="tile__slider">
    <input type="text" class="js-range-slider" id="t1_year" />
  </div>
  <div class="tile__tabs">
    <div class="tile1-tabs">
      <div id="t1_global" class="tile1-tabs__left active" onclick="t1_change_mode('global');">
        Global
      </div>
      <div id="t1_brd" class="tile1-tabs__right" onclick="t1_change_mode('brd');">
        Deutschland
      </div>
    </div>
  </div>
  <div class="tile__chart">
    <div id="t1"></div>
  </div>
</section>
