.modal {

  .modal-header {
    padding: 1rem 2rem;
    border-bottom: 1px solid $wwf-primary-color-1;
    background-color: $wwf-primary-color-1;
    color: $wwf-primary-color-2;
  }

  .modal-body {
    padding: 2rem;
  }

  img.logo {
    margin-bottom: 1rem;

    &--agora {
      height: 5rem;
    }

    &--rli {
      height: 3rem;
      margin-left: 2rem;
    }
  }

  &__sources {
    list-style: none;
    padding-left: 0;
    padding-top: 0.5rem;

    li {
      padding-bottom: 0.75rem;
    }

    .text {
      display: block;
      padding-bottom: 1rem;
    }

    .name {
      font-weight: 300;
    }

    .link {
      display: block;
    }

    img {
      height: 1rem;
      padding-right: 0.5rem;
      vertical-align: middle;
    }
  }

  .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    opacity: 1;
  }

  &--share .modal-body {
    @include flex-column-align-justify-center;
    padding: 3rem 2rem;

    .logos {
      @include flex-row-space-between;
      width: 100%;

      &:first-of-type {
        padding-bottom: 1.5rem;
      }
    }

    .logo {
      @include flex-column-align-justify-center;
      flex: 1;
    }

    .logo a {
      text-align: center;
      text-decoration: none;
    }

    .logo img {
      height: 3rem;
    }

    .logo--fb img,
    .logo--tg img {
      height: 3.25rem;
    }

    .logo--wa img {
      height: 4rem;
    }

    span {
      display: block;
      text-align: center;
      margin-top: 0.5rem;
      font-size: $font-size-small;
    }

    .logo--wa span {
      transform: translateY(-4px);
    }
  }
}