.tile .irs--round {
  .irs-handle {
    background-color: $wwf-primary-color-1;
    border: none;
    box-shadow: none;
    cursor: pointer;

    &:focus {
      outline: auto;
    }
  
    &:hover,
    &.state_hover {
      background-color: $wwf-primary-color-1;
    }

    &:focus {
      border: 2px solid $gray-1;
    }
  }

  .irs-line {
    background-color: $gray-1;
  }

  .irs-bar {
    background-color: $gray-1;
  }

  .irs-single {
    padding: 3px 0;
    line-height: normal;
    background-color: rgba(255, 255, 255, 0);
    color: $wwf-primary-color-1;
    font-family: $main-font-family;
    font-weight: 600;

    &:before {
      display: none;
    }
  }

  .irs-grid-pol {
    visibility: hidden;
  }
}

#t6_date {
  width: 7rem;
  order: 2;
}

#t6_arrow_left {
  order: 1;
}

#t6_arrow_right {
  order: 3;
}
