.range-wrap {
  width: 98%;
  margin: 0 auto;
}

input[type=range] {
	-webkit-appearance: none;
	margin: 20px 0;
	width: 100%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background: $gray-1;
}
input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: $wwf-primary-color-1;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: $gray-1;
}
.range-wrap{
	position: relative;
}
.range-value{
	position: absolute;
	top: -50%;
}
.range-value span{
	text-align: center;
	color: $wwf-primary-color-1;
	font-size: $font-size-small;
  font-weight: 600;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 50%);
}

.range-values {
  @include flex-row-space-between;
  font-size: $font-size-xsmall;
  color: $gray-2;
}