<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if password %}
      <script type="text/javascript">
        var s = "";
        const pw = "{{password}}";
        while (s != pw) {
          s = prompt("Bitte Passwort eingeben");
          if (s != pw) {
            alert("Falsches Passwort - bitte versuch es erneut!");
          }
        }
       </script>
    {% endif %}
    <link href="static/libs/bootstrap.min.css" rel="stylesheet">
    <link href="static/libs/bootstrap-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styling.min.css">
    <link rel="stylesheet" href="static/libs/ion.rangeSlider.min.css">
    <title>WWF Dashboard</title>
  </head>

  <body>
    <section class="dashboard">
      <a id="download" href="" download="wwf_share.png" hidden></a>
      <div class="dashboard__maxwidth">
        {% block tiles_html %}
        {% endblock tiles_html %}
      </div>
    </section>

    <script src="static/libs/d3.min.js"></script>
    <script src="static/libs/bootstrap.min.js"></script>
    <script src="static/libs/jquery.min.js"></script>
    <script src="static/libs/ion.rangeSlider.min.js"></script>
    <script src="static/libs/bootstrap-datepicker.min.js"></script>

    <script>
      var icon_names = {{icons|safe}};
    </script>
    <script src="static/js/global.js"></script>
    {% block tiles_js %}
    {% endblock tiles_js %}
  </body>
</html>
