<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<style>
  iframe {
    width: 1px;
    min-width: 100%;
  }
</style>
<script src="/static/libs/iframeResizer.min.js"></script>
<div>
    <iframe uc-src="{{ iframe_source }}" sandbox="allow-downloads allow-forms allow-modals allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-popups-to-escape-sandbox" allowfullscreen="" id="iFrameResizer0" style="overflow: hidden; height: 11404px;" scrolling="no" src="{{ iframe_source }}"></iframe>
</div>
<script>
    var debug = {{ debug|safe }};
  iFrameResize({}, '#iFrameResizer0');
</script>
</body>
</html>