{% extends "base.html" %}

{% block tiles_html %}
  <div class="dashboard__row">
    {% include "tiles/tile1.html" %}
    {% include "tiles/tile10.html" %}
  </div>
  <div class="dashboard__row">
    {% include "tiles/tile11.html" %}
    {% include "tiles/tile2.html" %}
  </div>
  <div class="dashboard__row">
    {% include "tiles/tile3.html" %}
    {% include "tiles/tile4.html" %}
  </div>
  <div class="dashboard__row">
    {% include "tiles/tile5.html" %}
    {% include "tiles/tile6.html" %}
  </div>
  <div class="dashboard__row">
    {% include "tiles/tile7.html" %}
    {% include "tiles/tile8.html" %}
  </div>
  <div class="dashboard__row">
    {% include "tiles/tile9.html" %}
  </div>
  {% if debug=="true" %}<span>v{{ version }}</span>{%  endif %}
{% endblock tiles_html %}

{% block tiles_js %}
  <script src="static/js/tile1.js"></script>
  <script src="static/js/tile2.js"></script>
  <script src="static/js/tile3.js"></script>
  <script src="static/js/tile4.js"></script>
  <script src="static/js/tile5.js"></script>
  <script src="static/js/tile6.js"></script>
  <script src="static/js/tile7.js"></script>
  <script src="static/js/tile8.js"></script>
  <script src="static/js/tile9.js"></script>
  <script src="static/js/tile10.js"></script>
  <script src="static/js/tile11.js"></script>
{% endblock tiles_js %}
