{% extends "base.html" %}

{% block tiles_html %}
  {% include "tiles/tile1.html" %}
  {% include "tiles/tile2.html" %}
  {% include "tiles/tile3.html" %}
  {% include "tiles/tile4.html" %}
  {% include "tiles/tile5.html" %}
  {% include "tiles/tile6.html" %}
{% endblock tiles_html %}

{% block tiles_js %}
  <script src="static/js/tile1.js"></script>
  <script src="static/js/tile2.js"></script>
  <script src="static/js/tile3.js"></script>
  <script src="static/js/tile4.js"></script>
  <script src="static/js/tile5.js"></script>
  <script src="static/js/tile6.js"></script>
{% endblock tiles_js %}