{% extends "base.html" %}

{% block tiles_html %}
  <div class="dashboard__row">
    {% include "tiles/tile1.html" %}
    {% include "tiles/tile2.html" %}
  </div>
  <div class="dashboard__row">
    {% include "tiles/tile3.html" %}
    {% include "tiles/tile4.html" %}
  </div>
  <div class="dashboard__row">
    {% include "tiles/tile5.html" %}
    {% include "tiles/tile6.html" %}
  </div>
  <div class="dashboard__row">
    {% include "tiles/tile7.html" %}
    {% include "tiles/tile8.html" %}
  </div>
  <div class="dashboard__row">
    {% include "tiles/tile9.html" %}
    {% include "tiles/tile10.html" %}
  </div>
{% endblock tiles_html %}

{% block tiles_js %}
  <script>
    const initials = {};
  </script>
  <script src="static/js/tile1_config.js"></script>
  <script src="static/js/tile2_config.js"></script>
  <script src="static/js/tile3_config.js"></script>
  <script src="static/js/tile4_config.js"></script>
  <script src="static/js/tile5_config.js"></script>
  <script src="static/js/tile6_config.js"></script>
  <script src="static/js/tile7_config.js"></script>
  <script src="static/js/tile8_config.js"></script>
  <script src="static/js/tile9_config.js"></script>
  <script src="static/js/tile10_config.js"></script>
  <script src="static/js/tile1.js"></script>
  <script src="static/js/tile2.js"></script>
  <script src="static/js/tile3.js"></script>
  <script src="static/js/tile4.js"></script>
  <script src="static/js/tile5.js"></script>
  <script src="static/js/tile6.js"></script>
  <script src="static/js/tile7.js"></script>
  <script src="static/js/tile8.js"></script>
  <script src="static/js/tile9.js"></script>
  <script src="static/js/tile10.js"></script>
{% endblock tiles_js %}
