.dashboard {
  @include flex-row-justify-center;
  width: 100%;
  padding: $layout-padding-small;

  @media only screen and (max-width: $tile-width) {
    background-color: $gray-3;
    padding: 0;
  }

  @media only screen and (min-width: $screen-width-min-m) {
    padding: 0;
  }

  &__maxwidth {
    max-width: 1208px;
  }

  &__row {
    @include flex-column-align-center;
    width: 100%;

    @media only screen and (min-width: 1208px) {
      @include flex-row-space-between;
      flex-wrap: wrap;
      align-items: stretch;
      width: $layout-max-width;
    }
  }
}