.tile {
  max-width: $tile-max-width;
  padding: $tile-padding;

  &__header {
    border: 1px solid $wwf-primary-color-1;
    padding: 1rem;

    .title {
      font-size: $font-size-large;
      letter-spacing: $letter-spacing-heading;
    }

    .text {
      font-size: $font-size-normal;
    }
  }
}