.tile {
  max-width: $tile-max-width;
  padding: $tile-padding;
  border: 1px solid $gray-1;

  @media only screen and (max-width: $screen-width-max-s) {
    width: 100%;
    max-width: $tile-max-width;
  }

  @media only screen and (min-width: $screen-width-min-m) {
    width: $tile-max-width;
  }

  &__header {
    border: 1px solid $wwf-primary-color-1;
    padding: 1rem;

    .title {
      font-size: $font-size-large;
      letter-spacing: $letter-spacing-heading;
    }

    .text {
      font-size: $font-size-normal;
    }
  }
}