.tile {
  width: 100%;
  max-width: $tile-max-width;
  padding: $tile-padding;
  margin-bottom: $layout-padding;
  border: 1px solid $gray-2;

  @media only screen and (max-width: $screen-width-max-xs) {
    padding: 1rem;
  }

  @media only screen and (max-width: $tile-width) {
    background-color: $wwf-primary-color-2;
    border: none;
    margin-top: 3rem;
    margin-bottom: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }

  &__header {
    position: relative;
    border: 1px solid $wwf-primary-color-1;
    padding: 1rem;

    h3 {
      padding-right: 0.5rem;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__top {
    @include flex-row-space-between;
  }

  &__options {
    @include flex-row;
    align-items: flex-start;

    & > button {
      background-size: 1.5rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: transparent;
      border: 0;
      height: 2rem;
      width: 2.5rem;

      &:focus {
        outline: auto;
      }
    }

    .share {
      background-image: url(../icons/i_share.svg);
    }

    .info {
      background-image: url(../icons/i_info.svg);
    }
  }

  &__slider {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &--date-picker {
      @include flex-row-justify-center;
      padding-top: 2rem;
    }
  }
}