// Colors
$wwf-primary-color-1: #000;
$wwf-primary-color-2: #fff;

$wwf-yellow: rgb(243, 204, 0);
$wwf-orange: rgb(240, 124, 36);
$wwf-red: rgb(216, 45, 69);
$wwf-red-violet: rgb(166, 48, 102);
$wwf-berry: rgb(114, 66, 132);
$wwf-dark-blue: rgb(0, 99, 134);
$wwf-medium-blue: rgb(112, 182, 214);
$wwf-aqua: rgb(0, 138, 136);
$wwf-dark-green: rgb(19, 117, 52);
$wwf-medium-green: rgb(122, 182, 56);
$wwf-olive: rgb(128, 130, 33);
$wwf-dark-brown: rgb(108, 59, 36);
$wwf-brown: rgb(156, 106, 46);
$wwf-base: rgb(195, 183, 140);

$gray-1: #DBDBDB;

// Typography
$font-size-large: 2rem;
$font-size-normal: 1rem;
$font-size-small: 0.75rem;

$letter-spacing-heading: 0.5px;

// Layout
$layout-max-width: 1208px;
$layout-padding-large: 2.5rem;

// Tiles
$tile-max-width: calc((#{$layout-max-width} / 2 ) - #{$layout-padding-large});
$tile-padding: 2rem;